<div class="container-xxl flex-grow-1 container-p-y">
  <button type="button" class="btn p-0 m-3">
    <%= link_to 'Add New User', new_receptionist_patient_path, class: 'btn btn-primary'%>
  </button>

  <div class="card">
    <h5 class="card-header">Patients Queue</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Cost</th>
            <th>Status</th>
            <th>Invoice</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <% @patients.each do |patient| %>
            <tr>
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><%= patient.name %></strong>
              </td>
              <td><%= patient&.bill %></td>
              <td><span class="badge bg-label-primary me-1">Uncompleted</span></td>
              <td>
                <%= link_to "Print", invoice_receptionist_patient_path(patient, format: :pdf), class: 'btn btn-primary', target: '_blank' %>
              </td>
              <td>
                <div class="dropdown position-relative">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <div class='btn btn-primary'>menu</div>
                  </button>
                  <div class="dropdown-menu position-absolute">
                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>