<div>
	<h6 class='text__center'>This is an electronically generated report and does not require signature.</h6>
	<hr />
	<table class="w__100">
		<tr>
			<td class="text__center w__50">
				<h4 class='mt__0 mb__0'>Dr. Usman</h4>
				<h6 class='mt__0 mb__0'>FCPS in Diagnostic Radiology</h6>
			</td>
			<td class="text__center w__50">
				<h5 class='mt__0 mb__0'>
					<i class="fa fa-phone">ssss</i>
					<strong>03076161211</strong>
				</h5>
				<h5 class='mt__0 mb__0'>
					<i class="fa fa-map-marker">ssss</i>
					<strong>zaaslkfnalssc askdmalksmdan, asdasdasdasd asdasd</strong>
				</h5>
				<h5 class='mt__0 mb__0'>
					<i class="fa fa-twitter">ssss</i>
					<strong>www.lahorediagnosticcenter.com</strong>
				</h5>
			</td>
		</tr>
	</table>
</div>