<div>
	<table class="w__100">
		<tr>
			<td class="w__1"></td>
			<td>
				<h3>Grand Total:</h3>
			</td>
			<td><h2>30000000</h2></td>
		</tr>
	</table>

	<hr />
	<table class="">
		<tr class="">
			<td class="text__center w__13">
				<i class="fa fa-phone">ssss</i>
				<strong>03076161211</strong>
			</td>
			<td class="text__center w__60">
				<i class="fa fa-map-marker">ssss</i>
				<strong>zaaslkfnalssc askdmalksmdan, asdasdasdasd asdasd</strong>
			</td>
			<td class="text__center">
				<i class="fa fa-twitter">ssss</i>
				<strong>www.lahorediagnosticcenter.com</strong>
			</td>
		</tr>
	</table>
</div>