<div class="col-md-12">
  <div class="card mb-4 p-2 border border-1">
    <div>
      <%#= f.label 'Test', class: 'form-label' %>
      <%#= f.select :procedure_id, options_for_select(@procedures.map {|k, v| [k.title.humanize, k.id]}), { prompt: 'Select Test' }, { class: 'form-select', required: true } %>
    </div>
    <div>
      <%= f.label 'Price', class: 'form-label' %>
      <%= f.number_field :price, required: true, placeholder: 'Price', class: 'form-control' %>
    </div>

    <div class='row my-3'>
      <div class='col-6'>
        <button type="button" class="btn btn-outline-primary account-image-reset mb-4">
          <i class="bx bx-reset d-block d-sm-none"></i>
          <span class="d-none d-sm-block">
            <%= link_to_remove_association "Remove Test", f %>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
