<div class="card-body demo-vertical-spacing demo-only-element">
  <%= form_for :search, url: search_admin_patients_path, method: :get do |f| %>
    <div class="row">
      <div class='col-md-4'>
        <%= f.text_field :patient_id, placeholder: "Patient ID", required: true, class: 'form-control' %>
      </div>
      <div class='col-md-4'>
        <%= f.text_field :case_id, placeholder: "Case ID", required: true , class: 'form-control' %>
      </div>
      <div class="col-md-3">
        <%= f.submit 'Search Patient', class: 'btn btn-success'%>
      </div>
    </div>
  <% end %>
</div>
