<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <div class='container p-5'>
      <h5><strong>Doctor Name:</strong> <%= @referrer.doctor_name %></h5>
      <h5><strong>Hospital Name:</strong> <%= @referrer.hospital_name %></h5>    
      <%= link_to 'Edit', edit_typist_referrer_path(@referrer), class: 'btn btn-primary' %>
      <%= link_to 'Destroy', typist_referrer_path(@referrer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
