<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>OUR CENTER</span></h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                <form action="#" method="post">
                    <label>NAME</label>
                    <input name="fullname" autocomplete="off" type="text" class="form-control" id="fullname">

                    <label>EMAIL</label>
                    <input name="email" autocomplete="off" type="email" class="form-control" id="email">

                    <label>MESSAGE</label>
                    <textarea name="message" autocomplete="off" rows="4" class="form-control" id="message"></textarea>

                    <input type="submit" value="SUBMIT" class="form-control">
                </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <address>
                    <p class="address-title">OUR ADDRESS</p>
                    <span>59-B Mozang Road, Opposite Sir Ganga Ram Hospital Outdoor Gate, Lahore</span>
                    <p><i class="fa fa-phone"></i> 042 3636 5552, 030 0136 1567</p>
                    <p><i class="fa fa-envelope-o"></i> thelahorediagnostics@gmail.com</p>
                    <p><i class="fa fa-map-marker"></i> 59-B Mozang Road, Lahore - 54000</p>
                </address>
                <ul class="social-icon">
                    <li><h4>WE ARE SOCIAL</h4></li>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>