<section id="home" style='background: url(<%= image_url("home-bg3.jpg") %>) no-repeat'>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="wow fadeIn bold" data-wow-offset="50" data-wow-delay="0.9s">The Region Leading <span class="green">Radiology</span></h1>
        <a id='read-more' data-scroll class="btn btn-primary wow fadeInUp">VIEW REPORT</a>
      </div>
    </div>
  </div>
</section>
