<section id="home" style='background: url(<%= image_url("home-bg3.jpg") %>) no-repeat'>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="wow fadeIn bold" data-wow-offset="50" data-wow-delay="0.9s">The Region Leading <span class="green">Radiology</span></h1>
        <a data-scroll onclick="javascript:$('#report-link').click()" class="btn btn-primary wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">VIEW REPORT</a>
        </div>
    </div>
  </div>
</section>
