<section id="tests">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">OFFERED <span>PROCEDURES</span></h2>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                <div id="labtestgrid" name="labtestgrid">
                    <columns>
                        <column />
                        <column />
                    </columns>
                </div><script>
                    kendo.syncReady(function(){jQuery("#labtestgrid").kendoGrid({"pageable":true,"scrollable":false,"columns":[{"field":"LabTestCategory","title":"Category","width":120},{"field":"Name","title":"Name","template":"${Name}"}],"toolbar":[{"name":"search"}],"dataSource":{"pageSize":10,"schema":{"data":"Data","errors":"Errors","total":"Total"},"transport":{"read":{"url":"/Admin/GetAllTests"}},"type":(function(){if(kendo.data.transports['aspnetmvc-ajax']){return 'aspnetmvc-ajax';} else{throw new Error('The kendo.aspnetmvc.min.js script is not included.');}})()}});});
                </script>
            </div>
        </div>
    </div>
</section>
