<section id="reports">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">VIEW <span>REPORT</span></h2>
            </div>

        </div>
        <div class="row mb-5">
            <div class="col-md-12 fadeInUp wow">
                Your <span class="info">Patient number</span> and <span class="info">Case number</span> should be present at the top right of your payment receipt. Please enter those details in the following fields to view your report. This information is needed to keep the record for history. In case you dont find the required information, please contact us at <span style="white-space:nowrap">Landline: <span class="info">042 3636 5552</span></span> or <span style="white-space:nowrap">Mobile: <span class="info">030 0136 1567</span></span>. We would be glad to help you out with your need.
            </div>
        </div>
        <div class="row tld-form">
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                <div>
                    <label>PATIENT NUMBER</label>
                    <input name="patient-number" autocomplete="off" type="text" style="text-transform:uppercase" class="form-control" id="patient-number">

                    <label>CASE NUMBER</label>
                    <input name="case-number" autocomplete="off" type="text" style="text-transform:uppercase" class="form-control" id="case-number">

                    <input type="button" onclick="ViewReport()" value="VIEW REPORT" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <p class="info">EXAMPLE</p>
                <p>
                    <label>PATIENT NUMBER</label>: XXXXX-YY-ZZ<br />
                    <label>CASE NUMBER</label>: XXXXX-YY-ZZ
                </p>
            </div>
        </div>
    </div>
</section>