
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>DOCTORS</span> AT WORK</h2>
            </div>
            <div class="col-lg-4 col-sm-6 mb-sm-3 wow fadeIn d-flex align-items-stretch pr-lg-0" data-wow-offset="50" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <div class="img-wrapper">
                        <%= image_tag("male.jpg", alt: "team img 1", class: "img-fluid") %>
                    </div>
                    <div class="team-des">
                        <h4>DR. MUHAMMAD IMRAN KHAN</h4>
                        <span>Assistant Professor Radiology</span>
                        <p>
                            Dr. Khan is a passionate, experienced and patient focused radiologist. He has been working in renowned institutions of the country including Al Razi Health Care, Zeenat Laboratories, Agha Khan University Hospital as well as Fatima Memorial Hospital and currently appointed as Assistant Professor and Consultant at Fatima Jinnah Medical University Lahore. His vast experience of more than 13 years in this field backed by an extensive learning capability makes him adept in his field. His expertise includes but not limited to:

                        </p>
                        <ul class="mb-0">
                            <li>Ultrasonography and Doppler studies</li>
                            <li>Guided procedures namely catheter insertions, drainage procedures, biopsies and fine needle aspirations from almost all regions of body</li>
                            <li>Expert opinion on cross sectional imaging including CT and MRI</li>
                            <li>Interpretation of images of radiology</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-sm-3 wow fadeIn d-flex align-items-stretch pr-lg-0" data-wow-offset="50" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <div class="img-wrapper">
                        <%= image_tag("female.jpg", alt: "team img 2", class: "img-fluid") %>
                    </div>
                    <div class="team-des">
                        <h4>DR. MUBUSHRA SAMREEN</h4>
                        <span>Female Radiologist</span>
                        <p class="mb-0">Dr. Mubushra cherished multiple distinctions and medals during the course of her journey in the field of medicine. She accomplished her consultant degree of FCPS in Diagnostic  Radiology, while training at Sir Ganga Ram Hospital, and worked with most renowned names of her time. The period of almost a decade has been enthusiastically pursued by her, particularly in the speciality of Female Imaging including breast imaging along with Obstetrical and Gynecological procedures and scans which makes her perfect choice for accurate diagnosis and consultation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-sm-3 wow fadeIn d-flex align-items-stretch" data-wow-offset="50" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <div class="img-wrapper">
                        <%= image_tag("male.jpg", alt: "team img 3", class: "img-fluid") %>
                    </div>
                    <div class="team-des">
                        <h4>DR. WAHEED SARWAR</h4>
                        <span>Radiologist</span>
                        <p>Dr. Waheed has great interest in his profession and is more keen regarding technological advancements in the field of diagnostic radiology. His compassionate and cordial attitude for humanity always proves to accommodating for those patients who have any sort of affordability issues.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>