<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <div class='container p-5'>
      <h5><strong>Name:</strong> <%= @user.name %></h5>
      <h5><strong>Email:</strong> <%= @user.email %></h5>    
      <%= link_to 'Edit', edit_admin_user_path(@user), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
