<h1>Posts</h1>
  <%= link_to "Posts PDF", invoices_path(format: :pdf) %>
<br>

Date of extract:
<%= Date.today %>
<br>

Posts count:
<%= @Patient&.name %>
<br>

<table style="width:100%">
  <thead>
    <tr>
      <th>id
      <th>title</th>
      <th>content</th>
    </tr>
  </thead>
  <tbody>
    <td>Hello World!</td>
    <td>Hello World!</td>
    <td>Hello World!</td>
  </tbody>
</table>